
body.mobile {
    background-color: lightgray;
}

.mobile h1 {
    text-align: center;
    padding: 8px 0px;
}

.mobile h1 span { opacity: .5; }

.mobile input {
    margin: 8px 16px;
}

.mobile #btnN,
.mobile #btnS,
.mobile #btnT,
#from-to {
    float: none;
    margin: 8px 16px;
}

#from-to {
    overflow: auto;
    padding: 0px 6px;
    font-size: 8pt;
    font-family: 'Verdana', sans-serif;
}

.mobile #date {
    margin: 8px auto;
    width: 310px;
}

.mobile .clocks {
    margin: 8px auto;
}

#result {
    font-family: 'Ubuntu', sans-serif;
    margin: 8px 16px;
}

#result table {
    border-collapse: collapse;
    border: 1px solid #79b7e7;
    text-align: center;
    width: 100%;
}

#result tr:first-child {
    border-bottom: 1px solid #79b7e7;
    background: #d0e5f5 url(images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #1d5987;
}

#result tr {
    background: white;
}

#result th {
    padding: 4px 0px;
}

#result td {
    padding: 2px 0px;
}
