
body {
    background-color: lightgray;
    background-image: url(http://orkafota.se/img,bg.png);
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: sans-serif;
    margin: 0px;
    padding: 2px 4px;
}

.site {
    background-color: white;
    width: 800px;
    padding: 0px;
    padding-bottom: 16px;
    margin: 0px auto 16px;
    border-radius: 0px 0px 16px 16px;
    -moz-border-radius: 0px 0px 16px 16px;
    -webkit-border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 0px 16px black;
    -moz-box-shadow: 0px 0px 16px black;
    -webkit-box-shadow: 0px 0px 16px black;
}

.header {
    background-image: url(img,top.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 165px;
}

.content {
    position: relative;
    padding: 0px 20px;
    overflow: visible;
}

@media (max-width: 800px) {
    
    body {
        background-color: white;
        background-image: none;
    }
    
    .site {
        width: auto;
        min-width: 760px;
        margin: 0px auto;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    
    .content {
        padding: 0px;
        width: 760px;
        margin: 0px auto;
    }
    
    
}
